@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: #111;
    overflow: hidden;
}

span {
    position: absolute;
    pointer-events: none;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, .5));
    animation: fadeInOut 1s linear infinite;
}
span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/heart.png);
    background-size: cover;
    animation: moveShape 1s linear infinite;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    } 20%, 80% {
        opacity: 1;
    }
}
@keyframes moveShape {
    0% {
        transform: translate(0) rotate(0deg);
    } 100% {
        transform: translate(300px) rotate(360deg);
    }
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
}
.btn {
    width: 110px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #555;
    color: white;
    transition: all .3s ease;
    font-weight: 700;
    cursor: pointer;
}
button:hover {
    opacity: .7;
    transform: scale(1.1);
}